
html{
    background-color:#999;
}
.container{
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position:absolute;
	background-image:url(../pic1.jpg);
}
.item1{
	text-align:center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:40px;
	margin-top:100px;
	color:white;
}
.item3{
	text-align:center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:15px;
	margin-top:30px;
	color:white;
	position:absolute;
	bottom:50px;
	right:10px;
}
.item2{
	width:300px;
	height:240px;
	border-radius:10px;
	background-color:#fff;
	margin:50px auto;
}
.family{
	height:65px;
	width:300px;
	background-color:#eee;
	text-align:center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:20px;
	line-height:60px;
	border-radius:10px;
}
.blank-space{
	background-color:#fff;
	height:10px;
	width:300px;
	margin-top:-5px;

}
.item-pass{
	width:300px;
	height:175px;
}
.item-pass-user{
	width:180px;
	height:26px;
	margin:auto;
}
.item-margin1{
	margin-top:20px;
}
.item-margin2{
	margin-top:10px;
}
.item-user{
	text-align:center;
	line-height:25px;
	font-size:11px;
	width:45px;
	height:24px;
	float:left;
}
.item-user1{
	line-height:25px;
	width:126px;
	height:24px;
	float:left;
}

.btn-two{
	width:80px;
	height:20px;
	text-align:center;
	line-height:20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:13px;
	background-color:#fff;
	float:left;
	margin-top:15px;
	margin-left:10px;
}
.btn-two:hover{
	background-color:#ddd;
}
.btn-one:hover{
	background-color:#ddd;
}
.btn-one{
	width:80px;
	height:20px;
	text-align:center;
	line-height:20px;
	font-family:黑体;
	font-size:13px;
	background-color:#fff;
	float:left;
	margin-top:15px;
	margin-left:75px;
}
